@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.GridContratoVM>



<!--<form class="form-inline">
    <input class="form-control mr-sm-2" id="inputPesquisa" type="search" placeholder="Pesquisar por..." aria-label="Search">-->
@*<button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>*@
<!--</form>-->


<div class="tbs">
    <table id="lista-Vendas" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
        <thead>
            <tr class="text-center">
                <th width="6%">Nº Pedido</th>
                <th width="10%">Vendedor</th>
                <th width="10%">Cliente</th>
                <th width="30%">Observação</th>
                <th width="10%">Data da Venda</th>
                <th width="10%">Total do Pedido</th>
                <th width="10%">Faturar Pedido</th>
                <th width="10%">Detalhe do pedido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var Faturado = item.Faturado ? "Sim" : "Não";
                <tr class="linhas">
                    <td class="tb-style text-center" width="5%">@item.IdPedido</td>
                    <td class="tb-style text-center" dwidth="5%">@item.NomeVendedor</td>
                    <td class="tb-style text-center" dwidth="5%">@item.NomeCliente</td>
                    <td class="tb-style text-center" width="20%">@item.Observacao</td>
                    <td class="tb-style text-center" width="10%">@item.DataVenda</td>
                    <td class="tb-style text-center" width="10%">@item.TotalPedido</td>
                    <td class="tb-style text-center" width="10%"><input type="checkbox" id="@item.Faturado"></td>
                    @*<td class="tb-style text-center" width="3%"><button type="button" style=" width: 160px; !important" class="mb-10 mr-10 btn-add btn btn-block float-right" data-toggle="modal" data-target="#novo-Vendedor" data-direction="bottom" onclick="javascript: ajustaTituloModal('Detalhe do Pedido')">Detalhe do Pedido</button></td>*@
                    <td class="tb-style text-center" width="3%"><button type="button" style="width: 160px; !important" class="mb-10 btn-add btn " data-toggle="modal" data-target="#detalhe-Pedido" data-direction="bottom" onclick="javascript: showDetalhe(@item.IdPedido)">Detalhe</button></td>                    
                </tr>
            }
    </table>

</div>
@*modal de detalhes*@

