
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.ComissaoVM>


<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link href="~/Content/comissao.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />

<body>
    <header class="header  clearfix">
        <div class="top-nav clearfix">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-2">
                    <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Comissão">
                        <i class="icon mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Comissão</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <label class="float-left mg-10 mb-10">Vendedor:   </label>
                    <select class="mb-10 browser-default custom-select col-3">
                        <option selected>Selecione</option>
                        <option value="1">Guilherme</option>
                        <option value="2">Marcio</option>
                        <option value="3">J Rubens</option>
                        <option value="3">Everton</option>
                    </select>
                </div>

                <div class="row" id="box_configs">
                    <label class="float-left mg-10 mb-10" style="margin-left: 15px;">Ínicio de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_start" />
                    <label class="float-left mg-10 mb-10">&nbsp; &nbsp;Fim de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_end" />
                </div>

                <br>
                <div class="tbs">
                    <table id="lista-produtos" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
                        <thead>
                            <tr class="text-center">
                                <th width="10%">Tipo Venda</th>
                                <th width="10%">Data da Venda</th>
                                <th width="20%">Nome do Produto</th>
                                <th width="10%">Descrição</th>
                                <th width="5%">Qtde</th>
                                <th width="10%">Valor da Venda</th>
                                <th width="10%">Valor Custo Unitário</th>
                                <th width="10%">Lucro</th>
                                <th width="10%">Comissão</th>
                                <th width="10%">Pagar</th>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr id="linha_@(item.Id)">
                                    <td class="tb-style text-center" width="5%">@item.TipoVenda<input type="hidden" class="id" value="@item.Id" /></td>
                                    <td class="tb-style text-center" width="5%">@item.DataVenda</td>
                                    <td class="tb-style text-center" width="20%">@item.NomeProduto</td>
                                    <td class="tb-style text-center" width="20%">@item.Descricao</td>
                                    <td class="tb-style text-center Quantidade" width="5%">@item.Quantidade</td>
                                    <td class="tb-style text-center ValorVenda" width="3%">@item.ValorVenda</td>
                                    <td class="tb-style text-center" width="3%"><input class="wd-100 form-control text-center ValorCustoUnitario @item.Id" type="text" onchange="myFunction(@item.Id)" value="@item.ValorCustoUnitario" placeholder=""></td>
                                    <td class="tb-style text-center" width="4%"><h5 class="ValorLucro">@item.ValorLucro</h5></td>
                                    <td class="tb-style text-center" width="4%"><input class="wd-100 form-control text-center PercComissao" type="text" value="@item.PercComissao" onchange="myFunction(@item.Id)" placeholder="10%"></td>
                                    <td class="tb-style text-center" width="10%">
                                        <input type="checkbox" id="myCheck" value="@item.Pago">
                                    </td>
                                </tr>
                            }
                    </table>

                </div>
                <div class="col-12">
                    <label class="float-right mg-10 mr-10">
                        <strong>
                            Quantidade de vendas selecionadas: &nbsp;
                        </strong>
                        <input class="mr-10 float-right wd-150 mb-10 form-control btn-disable" type="text" placeholder="">
                </div>
                <div class="clearfix"></div>
                <div class="col-12">
                    <label class="float-right mg-10 mr-10"><strong>Total de comissão a pagar: &nbsp;</strong> <input class="mr-10 float-right wd-150 text-center mb-10 form-control btn-disable" type="text" placeholder=""></label>
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button type="button" class="mb-10 mr-10 btn-add btn btn-block float-right">Finalizar Comissões Selecionadas</button>
                    <button type="button" class="mb-10 mr-10 btn-remove float-right">Cancelar</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">
        var count = 1;

        function novo(ValorCustoUnitario, PercComissao) {
            alert("linha \n: " + ValorCustoUnitario)
        }

        function myFunction(id) {
            let qtd = $(`#linha_${id} td.Quantidade`).html();
            let venda = $(`#linha_${id} td.ValorVenda`).html().replace(',', '.');
            let custo = $(`#linha_${id} td .ValorCustoUnitario`).val().replace(',', '.');
            let pecentual = $(`#linha_${id} td .PercComissao`).val();
            console.log(`percentual puro: ${pecentual}`)
            console.log(`percentual pecentual.length: ${pecentual + "".length}`)
            if (pecentual.length == 1) {
                pecentual = "0.0" + pecentual
            } else {
                pecentual = "0." + pecentual
            }

            console.log(`qtd: ${qtd}\nvenda: ${venda}\ncusto: ${custo}\npecentual: ${pecentual}`)
            //$(`#linha_${id} td .ValorLucro`).val(custo * ));
        }
        $(document).ready(function () {


            const linha = $("#lista-produtos tr[id]");
            //const linha = $("#lista-produtos tr td input .id");

            for (var i = 0; i < linha.length; i++) {
                console.log($(linha[i]).attr('id'));
            }
        });
        //$(".calculo")
        //    .blur(function (ev) {
        //        alert("blur")
        //    });

        //    $('#items').live('pageinit', function (event) {
        //        $('#additem').click(function () {
        //            //alert("add clicked");
        //            var request = $.ajax({
        //                url: "http://www.furnguy.com/app-pages/additem.php",
        //                type: "POST",
        //                data: { COUNTER: count },
        //                dataType: "html"
        //            });

        //            request.done(function (html) {
        //                //alert("here");
        //                if (html != '') {
        //                    $('#salesitems').append(html).trigger('create');
        //                }
        //            });

        //            request.fail(function (jqXHR, textStatus) {
        //                alert("Request failed: " + textStatus);
        //            });
        //            count++;
        //        });
        //    });
        //});


        //function deleteItem() {
        //    $('table').click(function () {
        //        $(this).parent().remove();
        //    });
        //};
        //function increaseQty() {
        //    var currentVal = parseInt($("#qty").val());
        //    if (currentVal != NaN) {
        //        $("#qty").val(currentVal + 1);
        //    }
        //};
        //function decreaseQty() {
        //    var currentVal = parseInt($("#qty").val());
        //    if (currentVal != NaN) {
        //        $("#qty").val(currentVal - 1);
        //    }
        //};


        //$(function () {
        //    $('.selectpicker').selectpicker();
        //});


        //$(document).ready(function () {
        //    $('#dtVerticalScrollExample').DataTable({
        //        "scrollY": "200px",
        //        "scrollCollapse": true,
        //    });
        //    $('.dataTables_length').addClass('bs-select');
        //});

        //$(document).ready(function () {
        //    $(document).on('keyup', '#userDropdown .bs-searchbox input', function (e) {
        //        alert($(this).val());
        //    });

        //    $(document).on('keyup', '#cityDropdown .bs-searchbox input', function (e) {
        //        alert($(this).val());
        //    });
        //});

        //Script do checkbox
        function check() {
            document.getElementById("myCheck").checked = true;
        }

        function uncheck() {
            document.getElementById("myCheck").checked = false;
        }


        //Script do datetimepicker
        $.datetimepicker.setLocale('pt-BR');

        jQuery(function () {
            jQuery('#date_timepicker_start').datetimepicker({
                format: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false
                    })
                },
                timepicker: false
            });
            jQuery('#date_timepicker_end').datetimepicker({
                format: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#date_timepicker_start').val() ? jQuery('#date_timepicker_start').val() : false
                    })
                },
                timepicker: false
            });
        });

    </script>
}
