
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.ComissaoVM>


<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">*@
<link href="~/Content/comissao.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />

<body>
    <header class="header  clearfix">
        <div class="top-nav clearfix">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-2">
                    <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Comissão">
                        <i class="icon mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Comissão</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <label class="float-left mg-10 mb-10">Vendedor:</label>
                    <select class="mb-10 browser-default custom-select col-3">
                        <option selected>Selecione</option>
                        <option value="1">Guilherme</option>
                        <option value="2">Marcio</option>
                        <option value="3">J Rubens</option>
                        <option value="3">Everton</option>
                    </select>
                </div>

                <div class="row" id="box_configs">
                    <label class="float-left mg-10 mb-10" style="margin-left: 15px;">Ínicio de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_start" />
                    <label class="float-left mg-10 mb-10">&nbsp; &nbsp;Fim de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_end" />
                    <button type="button" class="float-left btn-buscar">Buscar</button>
                </div>

                <br>
                <div class="tbs">
                    <table id="lista-produtos" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
                        <thead>
                            <tr class="text-center">
                                <th width="10%">Tipo Venda</th>
                                <th width="10%">Data da Venda</th>
                                <th width="20%">Nome do Produto</th>
                                <th width="10%">Descrição</th>
                                <th width="5%">Qtde</th>
                                <th width="10%">Valor da Venda</th>
                                <th width="10%">Valor Custo Unitário</th>
                                <th width="10%">Lucro</th>
                                <th width="10%">Comissão</th>
                                <th width="10%">APagar</th>
                                <th width="10%">Pagar</th>
                                <th width="15%"></th>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr Id="linha_@(item.IdItemPedido)" class="linhas">
                                    <td class="tb-style text-center TipoVenda" width="5%">@item.TipoVenda</td>
                                    <td class="tb-style text-center" width="5%">@item.DataVenda<input type="hidden" class="IdItemPedido" value="@item.IdItemPedido" /><input type="hidden" class="IdComissao" value="@item.IdComissao" /></td>
                                    <td class="tb-style text-center" width="20%">@item.NomeProduto</td>
                                    <td class="tb-style text-center" width="20%">@item.Descricao</td>
                                    <td class="tb-style text-center Quantidade" width="5%">@item.Quantidade</td>
                                    <td class="tb-style text-center maskMoney ValorVenda" width="3%">@item.ValorVenda</td>
                                    <td class="tb-style text-center" width="3%"><input class="wd-100 form-control text-center maskMoney ValorCustoUnitario" type="text" onchange="calculaLucro(@item.IdItemPedido)" value="@item.ValorCustoUnitario" placeholder=""></td>
                                    <td class="tb-style text-center ValorLucro" width="4%"><h5><label class="maskMoney">@item.ValorLucro</label></h5></td>
                                    <td class="tb-style text-center" width="4%"><input class="wd-100 form-control text-center PercComissao" type="text" value="@item.PercComissao" onchange="calculaLucro(@item.IdItemPedido)" placeholder="10%"></td>
                                    <td class="tb-style text-center APagar" width="4%"><h5><label class="maskMoney"></label></h5></td>
                                    <td class="tb-style text-center" width="10%">
                                        @Html.CheckBox("Pago", item.Pago, new { @class = "Pagar", @onchange = "javascript: totalComissaoAPagar()" })
                                    </td>
                                    <td class="tb-style text-center" width="10%">
                                        <div width="29" style="float:right; width:20px">
                                            <img src="https://i.gifer.com/ZKZg.gif" class="loading" width="25" style="display:none; margin:0px" />
                                            <img src="https://media1.tenor.com/images/22919ad969d4fcf8280c47f4c4d6a643/tenor.gif" class="checked" width="25" style="display:none; margin:0px" />
                                            <img src="~/Content/erro.png" class="erro" width="25" style="display:none; margin:0px" />
                                        </div>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
                <div class="col-12">

                    <label class="float-right mg-10 mr-10">
                        <strong>
                            Quantidade de vendas selecionadas: &nbsp;
                        </strong>
                        <input class="mr-10 float-right wd-150 mb-10 form-control btn-disable" id="qtdVendas" type="text" placeholder="">
                </div>
                <div class="clearfix"></div>
                <div class="col-12">

                    <label class="float-right mg-10 mr-10"><strong>Total de comissão a pagar: &nbsp;</strong> <input id="totalAPagar" class="mr-10 float-right wd-150 text-center mb-10 form-control btn-disable" type="text" placeholder=""></label>
                </div>

                <div class="" style="margin-top: -20px; ">
                    <div class="row" id="box_configs" style=" margin-bottom: 7px;">
                        <label class="float-left mg-10 mb-10" style="margin-left: 15px;"><strong>% para Produto:</strong> </label>
                        <input id="setPercProduto" type="text" class="form-control text-center col-1" />
                        <button type="button" class="float-left btn-buscar" onclick="javascript: setPercProduto()">Aplicar</button>
                    </div>
                    <div class="row" id="box_configs">
                        <label class="float-left mg-10 mb-10" style="margin-left: 15px;"><strong>% para Serviço:</strong> </label>
                        <input id="setPercService" type="text" class="form-control text-center col-1" />
                        <button type="button" class="float-left btn-buscar" onclick="javascript: setPercService()">Aplicar</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button type="button" class="mb-10 mr-10 btn-buscar btn btn-block float-right" style="width: 260px; margin-right:20px;">Finalizar Comissões Selecionadas</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">

        const linhas = $("#lista-produtos tr.linhas");

        const sleep = time => new Promise(resolve => {
            setTimeout(resolve, time);
        });

        function setPercProduto() {
            if ($("#setPercProduto").val().replace(/\D/g, '') != "") {
                for (var i = 0; i < linhas.length; i++) {
                    let tipoVenda = $(linhas[i]).find("td.TipoVenda").html()

                    if (tipoVenda == "Produto") {
                        $(linhas[i]).find("td input.PercComissao").val($("#setPercProduto").val());
                    }
                }
            }
        }

        function setPercService() {
            if ($("#setPercService").val().replace(/\D/g, '') != "") {
                for (var i = 0; i < linhas.length; i++) {
                    let tipoVenda = $(linhas[i]).find("td.TipoVenda").html()

                    if (tipoVenda == "Serviço") {
                        console.log(tipoVenda)
                        console.log($("#setPercService").val())
                        $(linhas[i]).find("td input.PercComissao").val($("#setPercService").val());
                    }
                }
            }
            }

            function saveAsyncLinha(controler, action, parameter, IdItemPedido, redirect = null) {
                showLoading(true, IdItemPedido);
                $.ajax({
                    type: "Post",
                    url: "/" + controler + "/" + action,
                    data: parameter,
                    processData: true,
                    async: true,
                    success: function (data) {

                        showLoading(false, IdItemPedido);
                        showChecked(true, IdItemPedido);
                        showChecked(false, IdItemPedido, 2000);
                    },
                    error: function (err) {
                        showChecked(true, IdItemPedido);
                        showChecked(false, IdItemPedido, 2000);
                        console.log(err);
                    }
                });
            }

            function showChecked(show, IdItemPedido, interval = 0) {
                if (show) {
                    setTimeout(() => { $(`#linha_${IdItemPedido} td img.checked`).show() }, interval);
                } else {
                    setTimeout(() => { $(`#linha_${IdItemPedido} td img.checked`).hide() }, interval);
                }
            }

            function showLoading(show, IdItemPedido, interval = 0) {
                if (show) {
                    setTimeout(() => { $(`#linha_${IdItemPedido} td img.loading`).show() }, interval);
                } else {
                    setTimeout(() => { $(`#linha_${IdItemPedido} td img.loading`).hide() }, interval);
                }
            }

            function showErro(show, IdItemPedido, interval = 0) {
                if (show) {
                    setTimeout(() => { $(`#linha_${IdItemPedido} td img.erro`).show() }, interval);
                } else {
                    setTimeout(() => { $(`#linha_${IdItemPedido} td img.erro`).hide() }, interval);
                }
            }

            function calculaLucro(IdItemPedido, primeiraVez = false) {
                let qtd = $(`#linha_${IdItemPedido} td.Quantidade`).html();
                let venda = $(`#linha_${IdItemPedido} td.ValorVenda`).html().replace(',', '.');
                let ValorCustoUnitario = $(`#linha_${IdItemPedido} td .ValorCustoUnitario`).val().replace(',', '.');
                let PercComissao = $(`#linha_${IdItemPedido} td .PercComissao`).val();
                let Pago = $(`#linha_${IdItemPedido} td input.Pagar`).prop("checked");
                let IdComissao = $(`#linha_${IdItemPedido} td input.IdComissao`).val();

                if (PercComissao.length == 1) {
                    PercComissao = "0.0" + PercComissao
                } else {
                    PercComissao = "0." + PercComissao
                }

                let ValorLucro = qtd * (venda - ValorCustoUnitario)
                $(`#linha_${IdItemPedido} td.ValorLucro h5 label`).html(parseFloat(ValorLucro).toFixed(2));
                $(`#linha_${IdItemPedido} td.APagar h5 label`).html(parseFloat(ValorLucro * PercComissao).toFixed(2));
                totalComissaoAPagar();

                var comissao = {
                    IdComissao: IdComissao,
                    IdItemPedido: IdItemPedido,
                    ValorCustoUnitario: ValorCustoUnitario,
                    PercComissao: parseFloat($(`#linha_${IdItemPedido} td .PercComissao`).val()).toFixed(2) * 1,
                    ValorLucro: ValorLucro,
                    Pago: Pago
                };
                if (!primeiraVez)
                    saveAsyncLinha("Comissao", "Save", comissao, IdItemPedido);
            }

            $(document).ready(function () {
                caculaTodos();
                totalComissaoAPagar();
            });

            function totalComissaoAPagar() {
                let total = 0;
                let qtd = 0

                for (var i = 0; i < linhas.length; i++) {
                    let Pagar = $(linhas[i]).find("td input.Pagar").prop("checked")
                    if (Pagar) {
                        let valor = parseFloat($(linhas[i]).find("td.APagar h5 label").html()).toFixed(2) * 1
                        total = total + valor;
                        qtd++;
                    }
                }
                $("#qtdVendas").val(qtd);
                $("#totalAPagar").val(total);
            }

            function caculaTodos() {
                const linhasIds = $(linhas).find("td input.IdItemPedido");
                for (var i = 0; i < linhasIds.length; i++) {
                    calculaLucro($(linhasIds[i]).val(), true);
                }
            }

            function check() {
                document.getElementById("myCheck").checked = true;
            }

            function uncheck() {
                document.getElementById("myCheck").checked = false;
            }


            //Script do datetimepicker
            $.datetimepicker.setLocale('pt-BR');

            jQuery(function () {
                jQuery('#date_timepicker_start').datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false
                        })
                    },
                    timepicker: false
                });
                jQuery('#date_timepicker_end').datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: jQuery('#date_timepicker_start').val() ? jQuery('#date_timepicker_start').val() : false
                        })
                    },
                    timepicker: false
                });
            });

    </script>
}
