
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KIS.System.Advanced.MVC.ViewModels.ComissaoVM
@using KIS.System.Advanced.MVC.Support

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">*@
<link href="~/Content/comissao.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />

<body>
    <header class="header  clearfix">
        <div class="top-nav clearfix">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-2">
                    <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Comissão">
                        <i class="icon mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Comissão</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <label class="float-left mg-10 mb-10">Vendedor:</label>
                    <select id="idVendedor" class="mb-10 browser-default custom-select col-3">
                        <option selected value="0">Selecione o vendedor</option>
                        @foreach (var vendedor in ViewBag.Vendedores)
                        {
                            <option value="@vendedor.Id">@vendedor.Nome</option>
                        }
                    </select>
                </div>

                <div class="row" id="box_configs">
                    <label class="float-left mg-10 mb-10" style="margin-left: 15px;">Ínicio de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_start" value="@Model.DataInicio.ParseDateTimeToBr()" />
                    <label class="float-left mg-10 mb-10">&nbsp; &nbsp;Fim de exibição:</label>
                    <input type="text" class="form-control text-center col-1" id="date_timepicker_end" value="@Model.DataFim.ParseDateTimeToBr()" />
                    <button type="button" class="float-left btn-buscar" onclick="javascript: filtraComissao()">Buscar</button>
                    <img src="https://i.gifer.com/ZKZg.gif" id="loading" width="25" height="25" style="display:none; margin:0px" />

                </div>
                <script>

                </script>
                <br>
                <div id="conteudoModal"></div>
                <div class="col-12">

                    <label class="float-right mg-10 mr-10">
                        <strong>
                            Quantidade de vendas selecionadas: &nbsp;
                        </strong>
                        <input class="mr-10 float-right wd-150 mb-10 form-control btn-disable" id="qtdVendas" type="text" placeholder="">
                </div>
                <div class="clearfix"></div>
                <div class="col-12">

                    <label class="float-right mg-10 mr-10"><strong>Total de comissão a pagar: &nbsp;</strong> <input id="totalAPagar" class="mr-10 float-right wd-150 text-center mb-10 form-control btn-disable" type="text" placeholder=""></label>
                </div>

                <div class="" style="margin-top: -20px; ">
                    <div class="row" id="box_configs" style=" margin-bottom: 7px;">
                        <label class="float-left mg-10 mb-10" style="margin-left: 15px;"><strong>% para Produto:</strong> </label>
                        <input id="setPercProduto" type="text" class="form-control text-center col-1" />
                        <button type="button" class="float-left btn-buscar" onclick="javascript: setPercProduto()">Aplicar</button>
                    </div>
                    <div class="row" id="box_configs">
                        <label class="float-left mg-10 mb-10" style="margin-left: 15px;"><strong>% para Serviço:</strong> </label>
                        <input id="setPercService" type="text" class="form-control text-center col-1" />
                        <button type="button" class="float-left btn-buscar" onclick="javascript: setPercService()">Aplicar</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button type="button" class="mb-10 mr-10 btn-buscar btn btn-block float-right" style="width: 260px; margin-right:20px;" id="btnConfirmarPagamento" onclick="javascript: SalvaTodos()">Finalizar Comissões Selecionadas</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">
        let linhas = "";

        $(document).ready(() => {


            $.datetimepicker.setLocale('pt-BR');

            jQuery(function () {
                jQuery('#date_timepicker_start').datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false
                        })
                    },
                    timepicker: false
                });
                jQuery('#date_timepicker_end').datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: jQuery('#date_timepicker_start').val() ? jQuery('#date_timepicker_start').val() : false
                        })
                    },
                    timepicker: false
                });
            });

            @*$("#date_timepicker_start").val("@ViewBag.hoje");
            $("#date_timepicker_end").val("@ViewBag.hoje");*@

            filtraComissao();
            //caculaTodos();
            //totalComissaoAPagar();
        })


        function filtraComissao() {
            $("#loading").show()
            let filtro = {
                idVendedor: $("#idVendedor").val(),
                dataInicio: $("#date_timepicker_start").val(),
                dataFim: $("#date_timepicker_end").val()
            }
            $.ajax({
                type: "Post",
                url: '/Comissao/FiltraComissao',
                data: filtro,
                processData: true,
                async: false,
                success: function (data) {

                    $("#conteudoModal").html(data);
                    linhas = $("#lista-comissao tr.linhas");
                    caculaTodos();
                    desabilitaItensPagos();
                    totalComissaoAPagar();
                    $("#loading").hide();
                },
                error: function (err) {
                    console.log(err);
                }
            });

        }

        //$.ajax({
        //    type: "GET",
        //    processData: true,
        //    async: false,
        //    url: "/Comissao/FiltraComissao/",
        //    success: function (resp) {
        //        $("#conteudoModal").html(resp);
        //    },
        //    error: function (err) {
        //        console.log(err);
        //    }
        //})

        //function check() {
        //    document.getElementById("myCheck").checked = true;
        //}

        //function uncheck() {
        //    document.getElementById("myCheck").checked = false;
        //}







        const sleep = time => new Promise(resolve => {
            setTimeout(resolve, time);
        });

        function setPercProduto() {
            if ($("#setPercProduto").val().replace(/\D/g, '') != "") {
                for (var i = 0; i < linhas.length; i++) {
                    let tipoVenda = $(linhas[i]).find("td.TipoVenda").html()

                    if (tipoVenda == "Produto") {
                        $(linhas[i]).find("td input.PercComissao").val($("#setPercProduto").val());
                    }
                }
                SalvaTodos();
            }
        }

        function setPercService() {
            if ($("#setPercService").val().replace(/\D/g, '') != "") {
                for (var i = 0; i < linhas.length; i++) {
                    let tipoVenda = $(linhas[i]).find("td.TipoVenda").html()

                    if (tipoVenda == "Serviço") {
                        console.log(tipoVenda)
                        console.log($("#setPercService").val())
                        $(linhas[i]).find("td input.PercComissao").val($("#setPercService").val());
                    }
                }
                SalvaTodos();
            }
        }

        function saveAsyncLinha(controler, action, parameter, IdItemPedido, saveAsync) {
            showLoading(true, IdItemPedido);
            $.ajax({
                type: "Post",
                url: "/" + controler + "/" + action,
                data: parameter,
                processData: true,
                async: saveAsync,
                success: function (data) {
                    if (data.IsValide) {
                        showLoading(false, IdItemPedido);
                        showChecked(true, IdItemPedido);
                        showChecked(false, IdItemPedido, 2000);
                    } else {
                        showLoading(false, IdItemPedido);
                        showErro(true, IdItemPedido);
                        showErro(false, IdItemPedido, 10000);
                        console.log(err);
                    }
                },
                error: function (err) {
                        showLoading(false, IdItemPedido);
                    showErro(true, IdItemPedido);
                    showErro(false, IdItemPedido, 10000);
                    console.log(err);
                }
            });
        }

        function showChecked(show, IdItemPedido, interval = 0) {
            if (show) {
                setTimeout(() => { $(`#linha_${IdItemPedido} td img.checked`).show() }, interval);
            } else {
                setTimeout(() => { $(`#linha_${IdItemPedido} td img.checked`).hide() }, interval);
            }
        }

        function showLoading(show, IdItemPedido, interval = 0) {
            if (show) {
                setTimeout(() => { $(`#linha_${IdItemPedido} td img.loading`).show() }, interval);
            } else {
                setTimeout(() => { $(`#linha_${IdItemPedido} td img.loading`).hide() }, interval);
            }
        }

        function showErro(show, IdItemPedido, interval = 0) {
            if (show) {
                setTimeout(() => { $(`#linha_${IdItemPedido} td img.erro`).show() }, interval);
            } else {
                setTimeout(() => { $(`#linha_${IdItemPedido} td img.erro`).hide() }, interval);
            }
        }

        function desabilitaItensPagos() {

            for (var i = 0; i < linhas.length; i++) {
                let isPago = $(linhas[i]).find("td input.DataPg").val() != "";
                if (isPago) {
                    $(linhas[i]).find("td input[type=checkbox]").attr('disabled', true)
                    let inputDisable = $(linhas[i]).find("td input[type=text]")
                    for (var j = 0; j < inputDisable.length; j++) {
                        $(inputDisable[j]).attr('disabled', true)
                    }
                }
            }
        }

        function calculaLucro(IdItemPedido, primeiraVez = false, saveAsync = true) {
            let qtd = $(`#linha_${IdItemPedido} td.Quantidade`).html();
            let venda = $(`#linha_${IdItemPedido} td.ValorVenda`).html().replace(',', '.');
            let ValorCustoUnitario = $(`#linha_${IdItemPedido} td .ValorCustoUnitario`).val().replace(',', '.');
            let PercComissao = $(`#linha_${IdItemPedido} td .PercComissao`).val();
            let Pago = $(`#linha_${IdItemPedido} td input.Pagar`).prop("checked");
            let IdComissao = $(`#linha_${IdItemPedido} td input.IdComissao`).val();

            if (PercComissao.length == 1) {
                PercComissao = "0.0" + PercComissao
            } else {
                PercComissao = "0." + PercComissao
            }

            let ValorLucro = qtd * (venda - ValorCustoUnitario)
            $(`#linha_${IdItemPedido} td.ValorLucro h5 label`).html(parseFloat(ValorLucro).toFixed(2));
            $(`#linha_${IdItemPedido} td.APagar h5 label`).html(parseFloat(ValorLucro * PercComissao).toFixed(2));
            totalComissaoAPagar();

            var comissao = {
                IdComissao: IdComissao,
                IdItemPedido: IdItemPedido,
                ValorCustoUnitario: ValorCustoUnitario,
                PercComissao: parseFloat($(`#linha_${IdItemPedido} td .PercComissao`).val()).toFixed(2) * 1,
                ValorLucro: ValorLucro,
                Pago: Pago
            };
            if (!primeiraVez)
                saveAsyncLinha("Comissao", "Save", comissao, IdItemPedido, saveAsync);
        }

        function totalComissaoAPagar() {
            let total = 0;
            let qtd = 0

            for (var i = 0; i < linhas.length; i++) {
                let Pagar = $(linhas[i]).find("td input.Pagar").prop("checked")
                let isPago = $(linhas[i]).find("td input.DataPg").val() != "";
                if (Pagar && !isPago) {
                    let valor = parseFloat($(linhas[i]).find("td.APagar h5 label").html()).toFixed(2) * 1
                    total = total + valor;
                    qtd++;
                }
            }
            $("#qtdVendas").val(qtd);
            $("#totalAPagar").val(parseFloat(total).toFixed(2));
        }

        function caculaTodos() {
            const linhasIds = $(linhas).find("td input.IdItemPedido");
            for (var i = 0; i < linhasIds.length; i++) {
                calculaLucro($(linhasIds[i]).val(), true);
            }
        }

        function SalvaTodos() {
            console.log($(this).attr("id"))
            for (var i = 0; i < linhas.length; i++) {
                let isPago = $(linhas[i]).find("td input.DataPg").val() != "";
                if (!isPago) {
                    let id = $(linhas[i]).find("td input.IdItemPedido").val();
                    calculaLucro(id, false, false);
                }
            }
        }

    </script>
}
