
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KIS.System.Advanced.MVC.ViewModels.VendasVM

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link href="~/Content/vendas.css" rel="stylesheet">

<body>
    <header class="header  clearfix">
        <div class="top-nav clearfix">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-2">
                    <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Nova Venda">
                        <i class="icon mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Nova Venda</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <label class="float-left mg-10 mb-10">Vendedor:</label>
                    <select id="idVendedor" class="mb-10 browser-default custom-select col-3">
                        <option selected value="0">Selecione o vendedor</option>
                        @foreach (var vendedor in Model.Vendedores)
                        {
                            if (Model.IdVendedor != 0 && vendedor.Id == Model.IdVendedor)
                            {
                                <option value="@vendedor.Id" selected>@vendedor.Nome</option>
                            }
                            else
                            {
                                <option value="@vendedor.Id">@vendedor.Nome</option>
                            }
                        }
                    </select>
                    <div class="form-group float-right">
                        <label for="exampleFormControlTextarea1">Observação Pedido</label>
                        <textarea class="form-control textarea-obs" id="obsevacaoPedido" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-10 row">
                        <div class="">
                            <label for="" class="mg-10 form-control-label">Cliente:</label>
                        </div>
                        <div class="" style="margin-left: 19px;">
                            <select class="form-control selectpicker" id="IdCliente" data-live-search="true">
                                <option selected value="0">Selecione o cliente</option>
                                @foreach (var cliente in Model.Clientes)
                                {
                                    if (Model.IdCliente != 0 && cliente.Id == Model.IdCliente)
                                    {
                                        <option data-tokens="@cliente.Nome" value="@cliente.Id" selected>@cliente.Nome</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="@cliente.Nome" value="@cliente.Id">@cliente.Nome</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-10 row">

                        <div class="" style="margin-left: 0px;">
                            <label for="" class="mg-10 form-control-label">Produto:</label>
                        </div>
                        <div class="col-sm-6" style=" margin-left: -4px; ">
                            <select class="form-control selectpicker" id="cmbProdutos" data-live-search="true" data-size="10">
                                @foreach (var produto in Model.Produtos)
                                {
                                    <option data-tokens="@produto.NomeProduto" value="@produto.IdProduto">@produto.NomeProduto</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="adicionarProduto" class="btn-finalizar btn btn-block">Adicionar Produto</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="tbs">
                    <table id="listaProdutos" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
                        <thead>
                            <tr class="">
                                <th></th>
                                <th width="20%">Nome do Produto</th>
                                <th width="20%">Descrição</th>
                                <th width="20%">Quantidade</th>
                                <th width="10%">Valor Unitário</th>
                                <th width="10%">Desconto Unitário</th>
                                <th width="10%">Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                ViewBag.contadorId = 0;
                                if (Model.ItemPedidosVM != null && Model.ItemPedidosVM.Count > 0)
                                {
                                    foreach (var item in Model.ItemPedidosVM)
                                    {
                                        <tr id="@ViewBag.contadorId">
                                            <td><input id="produto_@ViewBag.contadorId" value="@item.IdProduto" type="hidden"></td>
                                            <td class="tb-style" width="30%" id="nome_@ViewBag.contadorId">@item.NomeProduto</td>
                                            <td class="tb-style" width="30%">
                                                <div class="form-group">
                                                    <textarea id="descricao_@ViewBag.contadorId" class="form-control" rows="1">@item.Observacao</textarea>
                                                </div>
                                            </td>
                                            <td class="tb-style" width="10%">
                                                <input class="qtdem btn" type="button" value="-" onclick="decrementaQuantidade(@ViewBag.contadorId);" />
                                                <input id="quantidade_@ViewBag.contadorId" class="qtde" type="text" value="1" onchange="calculaValorTotalProdutos(@ViewBag.contadorId);" disabled />
                                                <input class="qtdema btn" type="button" value="+" onclick="incrementaQuantidade(@ViewBag.contadorId);" />
                                            </td>
                                            <td class="tb-style" width="3%"><input id="valor_@ViewBag.contadorId" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'R$ ', 'placeholder': '0'" class="wd-100 form-control" type="text" value="@item.ValorUnitario" onchange="calculaValorTotalProdutos(@ViewBag.contadorId);" /></td>
                                            <td class="tb-style" width="3%"><input id="desconto_@ViewBag.contadorId" class="wd-100 form-control" type="text" value="@item.Desconto" onchange="calculaValorTotalProdutos(@ViewBag.contadorId);" /></td>
                                            <td id="total_@ViewBag.contadorId" class="tb-style" width="4%">@item.ValorUnitario</td>
                                            <td class="tb-style" width="10%"><button type="button" class="btn btn-remove" onclick="removeProdutoDaLista(@ViewBag.contadorId);">Remover</button></td>
                                        </tr>
                                        ViewBag.contadorId += 1;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <label class="float-right mg-10 mr-10">
                        <strong>Total da Compra: &nbsp;</strong>
                        <input class="mr-10 float-right wd-100 mb-10 form-control btn-disable" type="text" id="valorTotalPedido" value="R$ 0,00">
                    </label>
                    <label class="float-right mg-10 mr-10">
                        <strong>Total do Desconto: &nbsp;</strong>
                        <input class="mr-10 float-right wd-150 mb-10 form-control btn-disable" type="text" id="valorTotalDescontos" value="R$ 0,00">
                    </label>
                </div>
                <div class="form-group">
                    <form action="#" method="get">
                        <div class="col-12" style="display: flex;">
                            <span>
                                <select class="form-control" id="formaPagamento1">
                                    @foreach (var formaPagamento in Model.TipoPGs)
                                    {
                                        if (Model.FormaPGs != null && Model.FormaPGs.Count > 0 && formaPagamento.Id == Model.FormaPGs[0].TipoPGVM.Id)
                                        {
                                            <option class="form-control" value="@formaPagamento.Id" selected>@formaPagamento.Nome</option>
                                        }
                                        else
                                        {
                                            <option class="form-control" value="@formaPagamento.Id">@formaPagamento.Nome</option>
                                        }
                                    }
                                </select>
                            </span>
                            <label class="margin-t5">
                                <strong>&nbsp;Valor recebido:&nbsp;</strong>
                            </label>
                            <input class="form-control text-center wd-80" id="valorRecebidoFormaPagamento1" maxlength="30" type="text">
                            <label class="margin-t5">
                                <strong>&nbsp;Troco:&nbsp;</strong>
                            </label>
                            <input class="form-control text-center wd-80" id="trocoFormaPagamento1" maxlength="30" type="text" value="R$ 0,00" disabled>
                        </div>
                        <div class="col-12" style="display: flex; margin-top:10px">
                            <span>
                                <select class="form-control" id="formaPagamento2" disabled>
                                    @foreach (var formaPagamento in Model.TipoPGs)
                                    {
                                        if (Model.FormaPGs != null && Model.FormaPGs.Count > 1 && formaPagamento.Id == Model.FormaPGs[1].TipoPGVM.Id)
                                        {
                                            if (formaPagamento.Nome.ToLower().Contains("dinheiro"))
                                            {
                                                continue;
                                            }
                                            <option class="form-control" value="@formaPagamento.Id" selected>@formaPagamento.Nome</option>
                                        }
                                        else
                                        {
                                            <option class="form-control" value="@formaPagamento.Id">@formaPagamento.Nome</option>
                                        }
                                    }
                                </select>
                            </span>
                            <label class="margin-t5" id="trocoOuSaldo">
                                <strong>&nbsp;Valor recebido:&nbsp;</strong>
                            </label>
                            <input class="form-control text-center wd-80" id="valorRecebidoFormaPagamento2" maxlength="30" value="R$ 0,00" disabled>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button type="button" class="mb-10 mr-10 btn btn-finalizar float-right" style=" margin-top: 10px; margin-right: 20px;" id="finalizarVenda">Finalizar Venda</button>
                    <button type="button" class="mb-10 mr-10 btn btn-remove float-right" style=" margin-right: 15px; margin-top: 10px;" onclick="@Url.Action("Index","Home")">Cancelar</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script type="text/javascript">

        var contadorId = 0;
        debugger;
        if (quantidadeAtualItensNaLista() > 0) {
            atualizaTotalPedido();
            atualizaPagamento();
            contadorId = @ViewBag.contadorId;
        }

        $("#adicionarProduto").click(() => {
            let idProduto = $("#cmbProdutos").val();
            let produto = callActionGet('produto', 'Get', { idProduto: idProduto })
            adicionaProdutoNaLista(produto)
        })

        $("#valorRecebidoFormaPagamento1").change(() => {
            atualizaPagamento();
        })

        $("#finalizarVenda").click(() => {
            if (validaCamposParaFinalizar()) {
                var dialog = bootbox.dialog({
                    title: 'Aguarde',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Salvando Pedido...</p>'
                });

                try {
                    finalizaVenda();
                    dialog.init(function () {
                        dialog.find('.bootbox-body').html('Pedido salvo com sucesso!');
                    });
                    setTimeout(function () {
                        window.location = window.location.origin + '/Home/Index';
                    }, 3000)
                } catch (err) {
                    dialog.init(function () {
                        dialog.find('.bootbox-body').html(`Erro ao salvar pedido: ${err}`);
                    });
                }
            }
        })

        function validaCamposParaFinalizar() {
            if (valorTotalPedido() <= 0) {
                bootbox.alert(`O valor da venda deve ser maior que R$ 0,00.`);
                return false;
            }
            if ($(`#idVendedor`).val() == `0`) {
                bootbox.alert(`Selecione o vendedor para finalizar a venda.`);
                return false;
            }
            if ($(`#IdCliente`).val() == `0`) {
                bootbox.alert(`Selecione o cliente para finalizar a venda.`);
                return false;
            }
            if (quantidadeAtualItensNaLista() <= 0) {
                bootbox.alert(`Adicione produtos na lista para finalizar a venda.`);
                return false;
            }
            return true;
        }

        function finalizaVenda() {
            let pedido = {};
            pedido.IdVendedor = $(`#idVendedor`).val();
            pedido.Observacao = $(`#obsevacaoPedido`).val();
            pedido.IdCliente = $(`#IdCliente`).val();

            pedido.FormaPGs = [];

            let FormaPGVM = {};
            FormaPGVM.TipoPGVM = {};
            FormaPGVM.TipoPGVM.Id = $(`#formaPagamento1`).val();
            FormaPGVM.TipoPGVM.Nome = $(`#formaPagamento1 :selected`).text();
            FormaPGVM.ValorPG = $(`#valorRecebidoFormaPagamento1`).val();
            pedido.FormaPGs.push(FormaPGVM)

            if (valorRecebidoA() !== valorTotalPedido()) {
                let FormaPGVM = {};
                FormaPGVM.TipoPGVM = {};
                FormaPGVM.TipoPGVM.Id = $(`#formaPagamento2`).val();
                FormaPGVM.TipoPGVM.Nome = $(`#formaPagamento2 :selected`).text();
                FormaPGVM.ValorPG = $(`#valorRecebidoFormaPagamento2`).val();
                pedido.FormaPGs.push(FormaPGVM)
            }

            pedido.ItemPedidosVM = [];

            $('#listaProdutos > tbody > tr').each(function () {
                let ItemPedidosVM = {};

                let idContador = $(this).attr('id');
                ItemPedidosVM.IdProduto = idProdutoNaLista(idContador);
                ItemPedidosVM.Observacao = descricaoProdutoNaLista(idContador);
                ItemPedidosVM.Quantidade = quantidadeAtualProdutosNaLista(idContador);
                ItemPedidosVM.ValorUnitario = valorUnitarioProdutoNaLista(idContador);
                ItemPedidosVM.Desconto = valorDescontoUnitarioNaLista(idContador);
                ItemPedidosVM.NomeProduto = nomeProdutoNaLista(idContador);

                pedido.ItemPedidosVM.push(ItemPedidosVM);
            });

            callActionPost('vendas', 'SaveNewOrder', { venda: pedido });

        }

        function adicionaProdutoNaLista(produto) {
            let tr = `<tr id="${contadorId}">
                            <td><input id="produto_${contadorId}" value="${produto.IdProduto}" type="hidden"></td>
                            <td class="tb-style" width="30%" id="nome_${contadorId}">${produto.NomeProduto}</td>
                            <td class="tb-style" width="30%">
                                <div class="form-group">
                                    <textarea id="descricao_${contadorId}"class="form-control" rows="1"></textarea>
                                </div>
                            </td>
                            <td class="tb-style" width="10%">
                                <input class="qtdem btn" type="button" value="-" onclick="decrementaQuantidade(${contadorId});" />
                                <input id="quantidade_${contadorId}" class="qtde" type="text" value="1" onchange="calculaValorTotalProdutos(${contadorId});" disabled/>
                                <input class="qtdema btn" type="button" value="+" onclick="incrementaQuantidade(${contadorId});" />
                            </td>
                            <td class="tb-style" width="3%"><input id="valor_${contadorId}" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'R$ ', 'placeholder': '0'"class="wd-100 form-control" type="text" value="${produto.ValorProduto}" onchange="calculaValorTotalProdutos(${contadorId});"/></td>
                            <td class="tb-style" width="3%"><input id="desconto_${contadorId}" class="wd-100 form-control" type="text" value="00,00" onchange="calculaValorTotalProdutos(${contadorId});"/></td>
                            <td id="total_${contadorId}" class="tb-style" width="4%">${produto.ValorProduto}</td>
                            <td class="tb-style" width="10%"><button type="button" class="btn btn-remove" onclick="removeProdutoDaLista(${contadorId});">Remover</button></td>
                        </tr>`;

            $("#listaProdutos tbody").append(tr);

            atualizaTotalPedido();
            atualizaPagamento();
            contadorId++;
        }

        function atualizaTotalPedido() {
            let valorTotalDescontos = 0;
            let valorTotalPedido = 0;
            $('#listaProdutos > tbody  > tr').each(function () {
                let contador = $(this).attr('id');
                let quantidadeAtual = quantidadeAtualProdutosNaLista(contador);
                let valorDesconto = valorDescontoUnitarioNaLista(contador);

                let totalDescontoItemAtual = valorDesconto * quantidadeAtual;
                valorTotalDescontos += totalDescontoItemAtual;

                let totalProduto = valorTotalProduto(contador);
                valorTotalPedido += totalProduto;
            });
            $("#valorTotalPedido").val(valorTotalPedido.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
            $("#valorTotalDescontos").val(valorTotalDescontos.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));

            $("#valorRecebidoFormaPagamento1").val(valorTotalPedido.toFixed(2));
        }

        function calculaValorTotalProdutos(contador) {
            trataInputsDigitaveis();
            let quantidadeAtual = quantidadeAtualProdutosNaLista(contador);
            let valorUnitario = valorUnitarioProdutoNaLista(contador);
            let valorDesconto = valorDescontoUnitarioNaLista(contador);
            let valorTotal = (valorUnitario - valorDesconto) * quantidadeAtual;
            $(`#total_${contador}`).text(valorTotal.toFixed(2));
            atualizaTotalPedido();
            atualizaPagamento();
        }

        function trataInputsDigitaveis() {
            $('#listaProdutos > tbody  > tr').each(function () {
                $(this).find(`:input`).each(function () {
                    debugger;
                    if ($(this).val() == '' || $(this).val() == undefined || $(this).val() == NaN)
                    {
                        if ($(this).attr('id').indexOf('descricao') === 0) {

                        } else {
                            $(this).val((0).toFixed(2))
                        }
                    }
                })
            });
        }

        function decrementaQuantidade(contador) {
            if (produtoNaLista(contador)) {
                let quantidadeAtual = quantidadeAtualProdutosNaLista(contador);
                if (quantidadeAtual > 1) {
                    $(`#quantidade_${contador}`).val(--quantidadeAtual);
                    calculaValorTotalProdutos(contador);
                }
            }
        }

        function incrementaQuantidade(contador) {
            if (produtoNaLista(contador)) {
                let quantidadeAtual = quantidadeAtualProdutosNaLista(contador);
                $(`#quantidade_${contador}`).val(++quantidadeAtual);
                calculaValorTotalProdutos(contador);
            }
        }

        function quantidadeAtualItensNaLista() {
            return $('#listaProdutos tbody tr').length;
        }

        function idProdutoNaLista(contador) {
            return parseInt($(`#listaProdutos tbody tr`).find(`#produto_${contador}`).val());
        }

        function quantidadeAtualProdutosNaLista(contador) {
            return parseInt($(`#listaProdutos tbody tr`).find(`#quantidade_${contador}`).val());
        }

        function valorUnitarioProdutoNaLista(contador) {
            return parseFloat($(`#listaProdutos tbody tr`).find(`#valor_${contador}`).val());
        }

        function descricaoProdutoNaLista(contador) {
            return $(`#listaProdutos tbody tr`).find(`#descricao_${contador}`).val();
        }

        function valorDescontoUnitarioNaLista(contador) {
            return parseFloat($(`#listaProdutos tbody tr`).find(`#desconto_${contador}`).val());
        }

        function valorTotalProduto(contador) {
            return parseFloat($(`#listaProdutos tbody tr`).find(`#total_${contador}`).text());
        }

        function nomeProdutoNaLista(contador) {
            return $(`#listaProdutos tbody tr`).find(`#nome_${contador}`).text();
        }

        function removeProdutoDaLista(contador) {
            if (produtoNaLista(contador)) {
                $("#listaProdutos tbody").find(`#${contador}`).remove();
                atualizaTotalPedido();
                atualizaPagamento();
            }
        }

        function produtoNaLista(contador) {
            return $('#listaProdutos').find(`#${contador}`).length > 0;
        }

        function valorTotalPedido() {
            return parseFloat($("#valorTotalPedido").val().replace('R$', '').trim().replace(',', '.'));
        }

        function calculaTroco() {
            return (valorRecebidoA() + valorRecebidoB()) - valorTotalPedido();
        }

        function valorRecebidoA() {
            return $("#valorRecebidoFormaPagamento1").val() == '' || NaN || undefined ? 0 : parseFloat($("#valorRecebidoFormaPagamento1").val())
        }

        function valorRecebidoB() {
            return $("#valorRecebidoFormaPagamento2").val() == '' || NaN || undefined ? 0 : parseFloat($("#valorRecebidoFormaPagamento2").val())
        }

        function valorTroco() {
            return $("#trocoFormaPagamento1").val() == '' || NaN || undefined ? 0 : parseFloat($("#trocoFormaPagamento1").val())
        }

        function atualizaValorA(valor) {
            $("#valorRecebidoFormaPagamento1").val((valor).toFixed(2));
        }

        function atualizaValorB(valor) {
            $("#valorRecebidoFormaPagamento2").val((valor).toFixed(2));
        }

        function atualizaValorTroco(valor) {
            $("#trocoFormaPagamento1").val((valor).toFixed(2));
        }

        function alternaSelecaoSegundaFormaPagamento(habilita) {
            if (habilita)
                $("#formaPagamento2").prop('disabled', false);
            else
                $("#formaPagamento2").prop('disabled', true);

        }

        function atualizaPagamento() {
            if (valorRecebidoA() != valorTotalPedido()) {
                if (valorRecebidoA() > valorTotalPedido()) {
                    atualizaValorTroco(valorRecebidoA() - valorTotalPedido());
                    atualizaValorB(0);
                    alternaSelecaoSegundaFormaPagamento(false);
                } else if (valorRecebidoA() < valorTotalPedido()) {
                    atualizaValorB(valorTotalPedido() - valorRecebidoA());
                    atualizaValorTroco(0);
                    alternaSelecaoSegundaFormaPagamento(true);
                }
            }
            else {
                alternaSelecaoSegundaFormaPagamento(false);
                atualizaValorB(0);
            }
        }
    </script>
}
