
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KIS.System.Advanced.MVC.ViewModels.VendasVM

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link href="~/Content/vendas.css" rel="stylesheet">

<body>
    <header class="header  clearfix">
        <div class="top-nav clearfix">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-2">
                    <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Nova Venda">
                        <i class="icon mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Nova Venda</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <label class="float-left mg-10 mb-10">Vendedor:</label>
                    <select id="idVendedor" class="mb-10 browser-default custom-select col-3">
                        <option selected>Selecione o vendedor</option>
                        @foreach (var vendedor in Model.Vendedores)
                        {
                            <option value="@vendedor.Id">@vendedor.Nome</option>
                        }
                    </select>
                    <div class="form-group float-right">
                        <label for="exampleFormControlTextarea1">Observação Pedido</label>
                        <textarea class="form-control textarea-obs" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-10 row">
                        <div class="col-sm-1" style="max-width:13.2%; margin-right: -20px !important" ;>
                            <label for="" class="mg-10 form-control-label">Cliente:</label>
                        </div>
                        <div class="">
                            <select class="form-control selectpicker" id="cmbClientes" data-live-search="true">
                                <option selected>Selecione o cliente</option>
                                @foreach (var cliente in Model.Clientes)
                                {
                                    <option data-tokens="@cliente.Nome" value="@cliente.Id">@cliente.Nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-10 row">

                        <div class="" style="margin-left: 15px;">
                            <label for="" class="mg-10 form-control-label">Produto:</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control selectpicker" id="cmbProdutos" data-live-search="true" data-size="10">
                                @foreach (var produto in Model.Produtos)
                                {
                                    <option data-tokens="@produto.NomeProduto" value="@produto.IdProduto">@produto.NomeProduto</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="adicionarProduto" class="btn-finalizar btn btn-block">Adicionar Produto</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="tbs">
                    <table id="listaProdutos" class="col-12 tb-b tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%" style="padding-left:0px;">
                        <thead>
                            <tr class="">
                                <th width="10%">Cod. Produto</th>
                                <th width="20%">Nome do Produto</th>
                                <th width="20%">Descrição</th>
                                <th width="20%">Quantidade</th>
                                <th width="10%">Valor Unitário</th>
                                <th width="10%">Desconto Unitário</th>
                                <th width="10%">Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <label class="float-right mg-10 mr-10">
                        <strong>Total da Compra: &nbsp;</strong>
                        <input class="mr-10 float-right wd-100 mb-10 form-control btn-disable" type="text" id="valorTotalPedido" value="">
                    </label>
                    <label class="float-right mg-10 mr-10">
                        <strong>Total do Desconto: &nbsp;</strong>
                        <input class="mr-10 float-right wd-150 mb-10 form-control btn-disable" type="text" id="valorTotalDescontos" value="">
                    </label>
                </div>
                <div class="form-group">
                    <form action="#" method="get">
                        <div class="col-12" style="display: flex;">
                            @*<button style="width: 180px;" class="form-control btn btn-finalizar" type="button" onclick="add_field()">Forma de pagamento</button>*@
                            <span id="selects">
                                <select class="form-control" id="orig_select">
                                    <option class="form-control">Selecione</option>
                                    @foreach (var formaPagamento in Model.TipoPGs)
                                    {
                                        <option class="form-control" id="@formaPagamento.Id">@formaPagamento.Nome</option>
                                    }
                                </select>
                            </span>
                            <label class="margin-t5">
                                <strong>&nbsp;Valor recebido:&nbsp;</strong>
                            </label>
                            <input class="form-control text-center wd-80" maxlength="255" type="text">
                            <label class="margin-t5">
                                <strong>&nbsp;Troco:&nbsp;</strong>
                            </label>
                            <input class="form-control text-center wd-80" maxlength="255" type="text">
                            <input class="qtdema btn" type="button" value="+" onclick="adicionaOuRemoveSegundaFormaPagamento();">

                            <span id="selects">
                                <select class="form-control" id="orig_select">
                                    <option class="form-control">Selecione</option>
                                    @foreach (var formaPagamento in Model.TipoPGs)
                                    {
                                        <option class="form-control" id="@formaPagamento.Id">@formaPagamento.Nome</option>
                                    }
                                </select>
                            </span>
                            <label class="margin-t5">
                                <strong>&nbsp;Valor recebido:&nbsp;</strong>
                            </label>
                            <input class="form-control text-center wd-80" maxlength="255" type="text">
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <button type="button" class="mb-10 mr-10 btn btn-finalizar float-right" style=" margin-top: 10px; margin-right: 20px;">Finalizar Venda</button>
                    <button type="button" class="mb-10 mr-10 btn btn-remove float-right" style=" margin-right: 15px; margin-top: 10px;">Cancelar</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script type="text/javascript">

        $("#adicionarProduto").click(() => {
            let idProduto = $("#cmbProdutos").val();
            let produto = callActionGet('produto', 'Get', { idProduto: idProduto })

            adicionaProdutoNaLista(produto)
        })

        function adicionaProdutoNaLista(produto) {
            let tr = `<tr id="${produto.IdProduto}">
                                        <td class="tb-style text-center" width="5%">${produto.CodProduto}</td>
                                        <td class="tb-style" width="30%">${produto.NomeProduto}</td>
                                        <td class="tb-style" width="30%">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="1"></textarea>
                                            </div>
                                        </td>
                                        <td class="tb-style" width="10%">
                                            <input class="qtdem btn" type="button" value="-" onclick="decrementaQuantidade(${produto.IdProduto});" />
                                            <input id="quantidade_${produto.IdProduto}" class="qtde" type="text" value="1" onchange="calculaValorTotalProdutos(${produto.IdProduto});" disabled/>
                                            <input class="qtdema btn" type="button" value="+" onclick="incrementaQuantidade(${produto.IdProduto});" />
                                        </td>
                                        <td class="tb-style" width="3%"><input id="valor_${produto.IdProduto}" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'R$ ', 'placeholder': '0'"class="wd-100 form-control" type="text" value="${produto.ValorProduto}" onchange="calculaValorTotalProdutos(${produto.IdProduto});"/></td>
                                        <td class="tb-style" width="3%"><input id="desconto_${produto.IdProduto}" class="wd-100 form-control" type="text" value="00,00" onchange="calculaValorTotalProdutos(${produto.IdProduto});"/></td>
                                        <td id="total_${produto.IdProduto}" class="tb-style" width="4%">${produto.ValorProduto}</td>
                                        <td class="tb-style" width="10%"><button type="button" class="btn btn-remove" onclick="removeProdutoDaLista(${produto.IdProduto});">Remover</button></td>
                                    </tr>`;

            $("#listaProdutos tbody").append(tr);

            if (quantidadeAtualItensNaLista() == 1) {
                $("#valorTotalPedido").val(produto.ValorProduto.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
                $("#valorTotalDescontos").val((0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
            }
            atualizaTotalPedido();

        }

        function atualizaTotalPedido() {
            let valorTotalDescontos = 0;
            let valorTotalPedido = 0;
            $('#listaProdutos > tbody  > tr').each(function () {
                let idProduto = $(this).attr('id');
                let quantidadeAtual = quantidadeAtualProdutosNaLista(idProduto);
                let valorDesconto = valorDescontoUnitario(idProduto);

                let totalDescontoItemAtual = valorDesconto * quantidadeAtual;
                valorTotalDescontos += totalDescontoItemAtual;

                let totalProduto = valorTotalProduto(idProduto);
                valorTotalPedido += totalProduto;
            });
            $("#valorTotalPedido").val(valorTotalPedido.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
            $("#valorTotalDescontos").val(valorTotalDescontos.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
        }

        function calculaValorTotalProdutos(idProduto) {
            let quantidadeAtual = quantidadeAtualProdutosNaLista(idProduto);
            let valorUnitario = valorUnitarioProduto(idProduto);
            let valorDesconto = valorDescontoUnitario(idProduto);
            let valorTotal = (valorUnitario - valorDesconto) * quantidadeAtual;
            $(`#total_${idProduto}`).text(valorTotal.toFixed(2));
            atualizaTotalPedido();
        }

        function decrementaQuantidade(idProduto) {
            if (produtoNaLista(idProduto)) {
                let quantidadeAtual = quantidadeAtualProdutosNaLista(idProduto);
                if (quantidadeAtual > 1) {
                    $(`#quantidade_${idProduto}`).val(--quantidadeAtual);
                    calculaValorTotalProdutos(idProduto);
                }
            }
        }

        function incrementaQuantidade(idProduto) {
            if (produtoNaLista(idProduto)) {
                let quantidadeAtual = quantidadeAtualProdutosNaLista(idProduto);
                $(`#quantidade_${idProduto}`).val(++quantidadeAtual);
                calculaValorTotalProdutos(idProduto);
            }
        }

        function quantidadeAtualItensNaLista() {
            return $('#listaProdutos tbody tr').length;
        }

        function quantidadeAtualProdutosNaLista(idProduto) {
            return parseInt($(`#listaProdutos tbody tr`).find(`#quantidade_${idProduto}`).val());
        }

        function valorUnitarioProduto(idProduto) {
            return parseFloat($(`#listaProdutos tbody tr`).find(`#valor_${idProduto}`).val());
        }

        function valorDescontoUnitario(idProduto) {
            return parseFloat($(`#listaProdutos tbody tr`).find(`#desconto_${idProduto}`).val());
        }

        function valorTotalProduto(idProduto) {
            return parseFloat($(`#listaProdutos tbody tr`).find(`#total_${idProduto}`).text());
        }

        function removeProdutoDaLista(idProduto) {
            if (produtoNaLista(idProduto)) {
                $("#listaProdutos tbody").find(`#${idProduto}`).remove();
                atualizaTotalPedido();
            }
        }

        function produtoNaLista(idProduto) {
            return $('#listaProdutos').find(`#${idProduto}`).length > 0;
        }

        function adicionaOuRemoveSegundaFormaPagamento() {
            console.log('olar');
        }

        //função selecionar
        //function add_field() {
        //    var container = document.getElementById('selects'),
        //        input = document.createElement('select');

        //    input.innerHTML = document.getElementById('orig_select').innerHTML;

        //    input.setAttribute('type', 'select');
        //    input.setAttribute('name', 'pet');
        //    container.appendChild(input);
        //};

        $(document).ready(function () {


        });
    </script>
}
