@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.DespesaVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/produtos.css" rel="stylesheet">

<body>
    <header class="header fixed-top clearfix">
        <div class="top-nav clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-2">
                        <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Despesas">
                            <i class="icon mdi-navigation-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20 text-center">Despesas</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <div>
                        <a href="#" class="btn btn-finalizar" data-toggle="modal" data-target="#nova-despesa" data-direction="bottom" onclick="javascript: addDespesa(0)">Adicionar Nova Despesa</a>
                        <nav class="navbar-light bg-light float-right">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" id="inputPesquisa" type="search" placeholder="Pesquisar por..." aria-label="Search">
                            </form>
                        </nav>
                    </div>
                    <br>
                    <table id="lista-despesas" class=" tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%">
                        <thead>
                            <tr>
                                <th width="0%"></th>
                                <th width="25%">Despesa</th>
                                <th width="10%">Descrição Despesa</th>
                                <th width="10%">Data Ocorrência</th>
                                <th width="30%">Valor</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td width="0%"><input type="hidden" value="@item.Id"></td>
                                    <td width="25%" class="tb-style">@item.TipoDespesa.NomeDespesa</td>
                                    <td width="10%" class="tb-style">@item.Descritivo</td>
                                    <td width="10%" class="tb-style">@item.Data.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td width="30%" class="tb-style inputNumerico" width="40%">@Math.Round(item.ValorDespesa, 2)</td>
                                    <td><a data-toggle="modal" data-target="" data-direction="bottom" onclick="javascript: editarDespesa(@item.Id)" class="btn btn-primary">Editar</a></td>
                                    <td><a onclick="javascript: excluirDespesa(@item.Id)" class="btn btn-danger">Excluir</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bottom" id="nova-despesa" tabindex="-1" role="dialog" aria-labelledby="desativar" aria-hidden="true" novalidate="novalidate" style="display: none;">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="javascript: resetaModal()">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="conteudoModal"></div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".inputNumerico").each(function () {
                let valor = parseFloat($(this).text().replace(',', '.'));
                let valorFormatado = imprimeFormatadoSemSimbolo(valor);
                $(this).text(valorFormatado);
            });
        });

        $("#inputPesquisa").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#lista-despesas tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function addOuEditarDespesa(idDespesa) {
            $.ajax({
                type: "GET",
                processData: true,
                async: false,
                url: "/Despesa/AddOrEdit/" + idDespesa,
                success: function (resp) {
                    $("#conteudoModal").html(resp);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }

        function addDespesa(id) {
            $(".modal-title").text('Nova Despesa');
            addOuEditarDespesa(id);
        }

        function editarDespesa(id) {
            $(".modal-title").text('Editar Despesa');
            addOuEditarDespesa(id);
        }

        function excluirDespesa(idDespesa) {
            bootbox.confirm("Confirma a exclusão da despesa?", function (confirmou) {
                if (confirmou) {
                    let data = { idDespesa: idDespesa };
                    callActionPost("Despesa", "Delete", data, 'Despesa/Index');
                }
            });
        }

        function resetaModal() {
            $("#idDespesa").val('0');
            $("#nomeDespesa").val('');
            $("#isServico").val('true');
            $("#valorDespesa").val('')
        }
    </script>
}


