@model KIS.System.Advanced.MVC.ViewModels.ProdutoVM

<form method="POST" id="form-produto" autocomplete="off">
    <input type="hidden" id="idProduto" value="@Model.IdProduto">
    <div class="form-group">
        <label class="control-label" for="nomeProduto">Nome Produto</label>
        <input type="text" value="@Model.NomeProduto" autocomplete="off" class="form-control col-12" id="nomeProduto" name="nomeProduto" placeholder="Digite o nome do produto">
        @Html.ValidationMessageFor(model => model.NomeProduto)
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="isServico" class="">É um serviço?</label>
                <select class="form-control col-5 text-center" id="isServico" name="isServico">
                    @{
                        if (Model.IsServico)
                        {
                            <option value="true" selected>Sim</option>
                        }
                        else
                        {
                            <option value="true">Sim</option>
                        }
                        if (!Model.IsServico)
                        {
                            <option value="false" selected>Não</option>
                        }
                        else
                        {
                            <option value="false">Não</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="valorProduto">Valor Unitário</label>
                <input type="text" value="@Math.Round(Model.ValorProduto, 2).ToString().Replace(".", ",")" autocomplete="off" class="form-control col-5 text-center inputNumerico" id="valorProduto" name="valorProduto" placeholder="Digite o Valor Unitário" novalidate="novalidate">
                @Html.ValidationMessageFor(model => model.ValorProduto)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-danger float-left" data-dismiss="modal" onclick="javascript: resetaModal()">Fechar</button>
        <button type="button" id="btnSalvarProduto" class="btn btn-finalizar btn-primary" style=" width: 70px;">Salvar</button>
    </div>
</form>

<script type="text/javascript">
   
    $(document).ready(function () {

        $(".inputNumerico").each(function () {
            let valor = parseFloat($(this).text().replace(',', '.'));
            let valorFormatado = imprimeFormatadoSemSimbolo(valor);
            $(this).text(valorFormatado);
        });

        recarregaMascaras();


        $("#btnSalvarProduto").click(() => {
            let produto = {
                IdProduto: $("#idProduto").val(),
                NomeProduto: $("#nomeProduto").val(),
                IsServico: $("#isServico").val(),
                ValorProduto: parseFloat($("#valorProduto").val().replace(',', '.'))
            };
            salvaModel('Produto', 'Save', produto)
        });
    });

</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval");
}
