@model IEnumerable<KIS.System.Advanced.MVC.ViewModels.UsuarioVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/usuarios.css" rel="stylesheet">

<body>
    <header class="header fixed-top clearfix">
        <div class="top-nav clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-2">
                        <a data-toggle="tooltip" data-placement="bottom" title="" href="" data-original-title="Usuários">
                            <i class="icon mdi-navigation-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container bkp-cont">
        <div class="theme-lockup">
            <h3 class="pad-top-20">Usuários</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="box_configs">
                    <div>
                        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#novo-usuario" data-direction="bottom" onclick="javascript: ajustaTituloModal('Novo Usuário')">Adicionar Novo Usuário</a>
                        <nav class="navbar-light bg-light float-right">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" id="inputPesquisa" type="search" placeholder="Pesquisar por..." aria-label="Search">
                                @*<button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>*@
                            </form>
                        </nav>
                    </div>

                    <br>
                    <table id="lista-usuarios" class=" tb-style table table-striped table-hover table-condensed dataTable display responsive nowrap" width="100%">
                        <thead>
                            <tr>
                                <th>Login</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Cargo</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model)
                            {
                                <tr>
                                    <td class="tb-style" width="10%">@usuario.Login<input type="hidden" value="@usuario.IdUsuario" /></td>
                                    <td class="tb-style"  width="40%">@usuario.Nome</td>
                                    <td class="tb-style"  width="40%">@usuario.Email</td>
                                    <td class="tb-style">@usuario.Funcao</td>
                                    <td></td>
                                    <td><a data-toggle="modal" data-target="#novo-usuario" data-direction="bottom" onclick="javascript: editarUsuario(@usuario.IdUsuario)" class="btn btn-primary">Editar</a></td>
                                    <td><a onclick="javascript: excluirUsuario(@usuario.IdUsuario)" class="btn btn-danger">Excluir</a></td>
                                </tr>
                            }
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bottom" id="novo-usuario" tabindex="-1" role="dialog" aria-labelledby="desativar" aria-hidden="true" novalidate="novalidate" style="display: none;">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="javascript: resetaModal()">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form-usuario" autocomplete="off" novalidate="novalidate">
                        <div class="form-group">
                            <label class="control-label" for="nome">Nome</label>
                            <input type="hidden" id="idUsuario">
                            <input type="text" autocomplete="off" class="form-control" id="nomeUsuario" name="nome" placeholder="Digite o Nome do Usuário">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">E-mail</label>
                            <input type="text" autocomplete="off" class="form-control" id="email" name="email" placeholder="seuemail@email.com">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="login">Login</label>
                                    <input type="text" autocomplete="off" class="form-control" id="login" name="login" placeholder="Digite o Login" novalidate="novalidate">
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="senha">Senha</label>
                                    <input type="password" autocomplete="off" class="form-control" id="senha" name="senha" placeholder="Digite a senha" onkeyup="checkPasswordStrong(this)">
                                    <span class="help-password" style="color: orange;">Senha Fraca.</span>
                                </div>
                            </div>*@
                        </div>
                        <div class="form-group">
                            <label for="funcaoUsuario">Função</label>
                            <select class="form-control" id="funcaoUsuario" name="funcaoUsuario">
                                <option value="1">Gerente</option>
                                <option value="2">Vendedor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipoAcesso">Tipo Acesso</label>
                            <select class="form-control" id="tipoAcesso" name="tipoAcesso">
                                <option value="1">Administrador</option>
                                <option value="2">Vendas</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default float-left" data-dismiss="modal" onclick="javascript: resetaModal()">Fechar</button>
                            <button type="button" id="btnSalvarUsuario" class="btn btn-primary btn-primary" data-dismiss="modal" aria-label="Close">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $("#btnSalvarUsuario").click(() => {
        let usuario = {
            IdUsuario: $("#idUsuario").val(),
            login: $("#login").val(),
            Nome: $("#nomeUsuario").val(),
            Email: $("#email").val(),
            Funcao: $("#funcaoUsuario").val(),
            TipoAcessos: $("#tipoAcesso").val()
        };
        callActionPost("Usuario", "Save", usuario, 'Usuario/Index');
    });

    $("#inputPesquisa").on("keyup", function () {
        let value = $(this).val().toLowerCase();
        $("#lista-usuarios tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    function editarUsuario(idUsuario) {
        let data = { idUsuario: `${idUsuario}` };
        let usuario = callActionGet("Usuario", "Get", data);
        debugger;
        $("#idUsuario").val(usuario.IdUsuario);
        $("#login").val(usuario.Login);
        //$("#senha").val(usuario.Senha);
        $("#nomeUsuario").val(usuario.Nome);
        $("#email").val(usuario.Email);
        $("#funcaoUsuario").val(usuario.Funcao);
        $("#tipoAcesso").val(usuario.TipoAcessos);

        ajustaTituloModal("Editar Usuario");
    }

    function ajustaTituloModal(texto) {
        $(".modal-title").text(texto)
    }

    function excluirUsuario(idUsuario) {
        bootbox.confirm("Confirma a exclusão do usuario?", function (confirmou) {
            if (confirmou) {
                let data = { idUsuario: idUsuario };
                callActionPost("Usuario", "Delete", data, 'Usuario/Index');
            }
        });
    }

    function resetaModal() {
        $("#idUsuario").val('0');
        $("#login").val('');
        //$("#senha").val('');
        $("#nomeUsuario").val('');
        $("#email").val('')
        $("#funcaoUsuario").val('1');
        $("#tipoAcesso").val('1');
    }
</script>

